.ck-editor__editable {
    min-width: 1400px;

}

.ck-editor {
    margin-left: 250px !important;
    margin-bottom: 200px !important;
}

#audio {
    width: 100%;
}

#editor {
    width: 100%;
}

.save-btn{
    font-size: 24px !important;
    position: absolute !important;
    right: 50%;
    bottom: 100px;
}